<section id="comment-nous-aidons" class="relative py-36 sm:py-48 bg-white">

  <!-- Wave -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 26"
    class="absolute w-full -top-[1.7vw] z-20 fill-white">
    <path d="M0,0l8,0.5C16,1,32,1.9,48,3.9c16,1.9,32,4.8,48,5.8c16,0.9,32,0,48-2.4S176,1,192,1c16,0,32,3.8,48,7.7
            s32,7.7,48,10.6c16,2.9,32,4.9,48,3.4c16-1.4,32-6.3,48-11.1s32-9.7,48-11.1C448-1,464,1,480,3.4c16,2.4,32,5.3,48,6.7
            s32,1.4,48,0.5c16-0.9,32-2.9,48-4.3c16-1.5,32-2.4,48-1.9s32,2.4,48,4.3s32,3.9,48,1.9c16-1.9,32-7.7,48-6.7c16,0.9,32,8.7,48,11.6
            c16,2.9,32,0.9,48-1s32-3.9,48-5.8s32-3.9,48-2.9s32,4.8,48,4.8c16,0,32-3.8,48-6.3s32-3.3,48-1.9c16,1.5,32,5.3,48,8.2
            c16,2.9,32,4.9,48,5.3c16,0.5,32-0.5,48-1.9c16-1.4,32-3.4,48-5.8c16-2.4,32-5.3,48-3.4c16,2,32,8.6,40,12.1l8,3.4V26h-8
            c-8,0-24,0-40,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0
            s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0
            s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-48,0s-32,0-40,0H0V0z" />
  </svg>

  <div class="contain flex flex-col lg:flex-row gap-16">

    <div class="w-full lg:w-2/6">
      <h2 class="font-bold text-4xl">Comment nous pouvons aider <span class="text-brand">votre entreprise</span></h2>
    </div>

    <div class="w-full lg:w-4/6 grid grid-cols-1 sm:grid-cols-2 gap-16">

      <div>
        <div class="rounded-lg p-2.5 bg-brand inline-block mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 stroke-white">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 18L9 11.25l4.306 4.307a11.95 11.95 0 015.814-5.519l2.74-1.22m0 0l-5.94-2.28m5.94 2.28l-2.28 5.941" />
          </svg>
        </div>
        <h3 class="text-lg font-bold mb-2">Augmentation de la productivité</h3>
        <p>Les employés non-janitoriaux chargés des tâches de nettoyage perdent souvent leur concentration sur leurs rôles principaux, ce qui entraîne une baisse de productivité. Engager notre service de nettoyage professionnel permet aux employés de consacrer toute leur énergie à leurs rôles professionnels, améliorant ainsi la productivité et l'efficacité de l'entreprise.</p>
      </div>

      <div>
        <div class="rounded-lg p-2.5 bg-brand inline-block mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="stroke-white w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
          </svg>
        </div>
        <h3 class="text-lg font-bold mb-2">Environnement sain</h3>
        <p>Dans de nombreux cas, les tâches de nettoyage peuvent être négligées en raison des horaires chargés des employés, ce qui entraîne des conditions de travail insalubres. Un service de nettoyage professionnel peut garantir la propreté et l'hygiène de l'espace de travail, ce qui est important pour la santé et le bien-être de tous les membres du personnel.</p>
      </div>

      <div>
        <div class="rounded-lg p-2.5 bg-brand inline-block mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="stroke-white w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
          </svg>

        </div>
        <h3 class="text-lg font-bold mb-2">Réduction du stress</h3>
        <p>La responsabilité supplémentaire de maintenir un espace de travail propre peut entraîner un stress accru pour les employés. Avec un service de nettoyage professionnel en place, les employés peuvent être soulagés de ces responsabilités, leur permettant de se concentrer sur leur travail et de réduire le stress au travail. Cela peut également réduire les heures supplémentaires non rémunérées et les tensions potentielles au sein des familles.</p>
      </div>

      <div>
        <div class="rounded-lg p-2.5 bg-brand inline-block mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="stroke-white w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
        </div>
        <h3 class="text-lg font-bold mb-2">Image de l'entreprise</h3>
        <p>Un espace de travail propre et bien rangé laisse une impression positive tant sur le personnel que sur les visiteurs, améliorant ainsi l'image globale de l'entreprise. Avec un service de nettoyage professionnel, les entreprises peuvent garantir un environnement constamment propre et organisé, projetant une image professionnelle et efficace.</p>
      </div>
    </div>

  </div>
</section>