<div class="hidden xl:block absolute top-0 w-full py-12 text-white z-logo_wide50">
    <div class="contain flex justify-between">
        <div>
            <img src="img/logo_wide.svg" alt="Every Square Inch Cleaning Service logo" class="h-12">
        </div>
        <nav>
            <ul class="flex items-center gap-12 font-bold">
                {% for items in navigation.items %}
                    <li><a href="{{ items.url }}" class="link">{{ items.title }}</a></li>
                {% endfor %}
                <li><a href="#contact" class="button">Get a quote</a></li>
            </ul>
        </nav>
    </div>
</div>